/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --max-content-width: 1300px;
    --max-text-width: 700px;
    --card-width: 392px;
}
